Source: crystalhd
Priority: extra
Maintainer: Debian multimedia packages maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Andres Mejia <mcitadel@gmail.com>,
           Ouattara Oumar Aziz (alias wattazoum) <wattazoum@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt (>= 0.46-7~),
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.broadcom.com/support/crystal_hd/
Vcs-Git: git://git.debian.org/git/collab-maint/crystalhd.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/crystalhd.git

Package: libcrystalhd-dev
Section: libdevel
Architecture: any
Depends: libcrystalhd3 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Description: Crystal HD Video Decoder (development files)
 Crystal HD Solution is a product offered by Broadcom. It is used to enable
 flawless playback of 1080p high definition video across a wide range of
 systems.
 .
 This package contains the files necessary for development.

Package: libcrystalhd3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Crystal HD Video Decoder (shared library)
 Crystal HD Solution is a product offered by Broadcom. It is used to enable
 flawless playback of 1080p high definition video across a wide range of
 systems.
 .
 This package contains the shared library.
