#!/usr/bin/make -f

UPSTREAM_VERSION = $(shell dpkg-parsechangelog | grep -G '^Version' | \
                     cut -d ' ' -f 2 | sed 's/^[^:]:*//' | sed 's/-.*$$//')

EXTRA_INCLUDES = -I$(CURDIR)/include \
	-I$(CURDIR)/linux_lib/libcrystalhd

EXTRA_LD_PATH = -L$(CURDIR)/linux_lib/libcrystalhd

%:
	dh --with quilt,dkms $@

override_dh_auto_build:
	make -C linux_lib/libcrystalhd
	cd filters/gst/gst-plugin && \
		./configure --prefix=/usr CFLAGS="$(EXTRA_INCLUDES)" \
		LDFLAGS="$(EXTRA_LD_PATH)"
	make -C filters/gst/gst-plugin

override_dh_auto_install:
	make install -C linux_lib/libcrystalhd DESTDIR=$(CURDIR)/debian/tmp
	make install -C filters/gst/gst-plugin DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/usr/src/crystalhd-$(UPSTREAM_VERSION)
	cp -rf driver $(CURDIR)/debian/tmp/usr/src/crystalhd-$(UPSTREAM_VERSION)
	cp -rf include $(CURDIR)/debian/tmp/usr/src/crystalhd-$(UPSTREAM_VERSION)
	rm -f $(CURDIR)/debian/tmp/usr/src/crystalhd-$(UPSTREAM_VERSION)/driver/linux/bcm_70012_dev.sh
	rm -f $(CURDIR)/debian/tmp/usr/src/crystalhd-$(UPSTREAM_VERSION)/driver/linux/bcm_70012_run.sh

override_dh_auto_clean:
	dh_clean
	make clean -C linux_lib/libcrystalhd
	[ ! -f filters/gst/gst-plugin/Makefile ] || \
		make clean distclean -C filters/gst/gst-plugin

override_dh_dkms:
	dh_dkms -V $(UPSTREAM_VERSION)
